---
import Serialize from "@ayco/astro-resume";
import { ArticleData, extract } from "@extractus/article-extractor";
import AddressBar from "../components/AddressBar.astro";
import Post from "../components/Post.astro";
import Layout from "../layouts/Layout.astro";
import Library from "../components/Library.astro";
import Footer from "../components/Footer.astro";
import Insights from "../components/Insights.astro";

let url = Astro.url.searchParams.get('url');
let article: ArticleData | null = {url: '/'};

while (url?.startsWith(Astro.url.origin)) {
  url = new URL(url).searchParams.get('url');
}

if (url)
  try {
    article = await extract(url);
  } catch {
    article = null;
  }


const appConfig = {
  routerOutlet: 'router-outlet',
  gptKey: import.meta.env.SECRET_IOGPT_KEY,
  prompt: article ? `As a teacher for a five-year-old kid, summarize the article "${article?.title && article?.title}" ${article?.author ? `by ${article?.author}` : ''} on this web page: ${article?.url} in at most three sentences only. Send as an ordered list. Send your answer in HTML format without headings` : null
};
export type AppConfig = typeof appConfig;
---
<Layout article={article}>
    <AddressBar url={url} />
    <div slot="post" id={appConfig.routerOutlet}>
      <Post article={article} />
    </div>
    <Library slot="library" skipSave={article === null} />
    <Footer slot="footer" />
    <Insights article={article} prompt={appConfig.prompt} slot="sidebar" />
</Layout>

<Serialize id="app-config" data={appConfig} />