---
import { ArticleData } from "@extractus/article-extractor";
import { cozify } from "../utils/sanitizer"
export interface Props {
  article: ArticleData | null;
}

const error: ArticleData = {
  title: 'Something is not right',
  content: '<p>The article extractor did not get any information.</p>',
}
let { article } = Astro.props;
article ??= error;
const datePublished =
  article?.published && new Date(article.published).toDateString();

const cleanContent = await cozify(article.content ?? '', Astro.url.origin)
---

<!-- 
  Changing anything inside the #post div can cause a difference in the cached version of the post in users' devices. For this reason, we should avoid changing the HTML and instead do it with CSS when possible.
 -->
<div id="post">
  {
    article && article.url !== '/'  &&
      <>
        {article.source && <span class="source">{article.source}</span>}
        {article.title && <h1 class="title">{article.title}</h1>}
        {(article.author || datePublished) && (
          <ul class="publish-info">
            {article.author && <li>️{article.author} </li>}
            {datePublished && <li>️{datePublished}</li>}
          </ul>
        )}
        <content set:html={cleanContent} />
      </>
  }
</div>
