---
import { ArticleData } from "@extractus/article-extractor";
import "./reset.css";
export interface Props {
  meta: ArticleData
}
const appTitle = "Cozy 🧸";
const { meta } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{appTitle} {meta.title && `| ${meta.title}`}</title>

    <meta property="cozy:title" content={meta.title} />
    <meta property="cozy:url" content={meta.url} />
    <meta property="cozy:description" content={meta.description} />
    <meta property="cozy:image" content={meta.image} />
    <meta property="cozy:source" content={meta.source} />
    <meta property="cozy:author" content={meta.author} />
    <meta property="cozy:published" content={meta.published} />

  </head>
  <body>
    <slot />
    <div id="main-content">
      <div id="post-wrapper">
        <slot name="post" />
      </div>
      <div id="library-wrapper">
        <slot name="library" />
      </div>
    </div>
  </body>
</html>

<style>
  #main-content {
    max-width: var(--cozy-width);
    margin: 0 auto;
  }

  #main-content * {
    padding: 0 0.5rem;
  }
</style>
<style is:global lang="scss">
  :root {
    --cozy-width: 600px;
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  html * {
    font-family: var(--system-ui);
  }
</style>
