---
import { ArticleData } from "@extractus/article-extractor";
import "./reset.css";
export interface Props {
  article: ArticleData | null
}

const { article } = Astro.props;
const appTitle = article?.title ? `${article.title} | Cozy` : 'Cozy';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{appTitle}</title>

    {
      /**
       * if showing a post:
       *  - don't allow search engines to index the page
       *  - add cozy metadata for the app to use
       */
      article && article?.url !== '/' ? (
        <meta name="robots" content="noindex">
        <meta name="googlebot" content="noindex">

        <meta property="cozy:title" content={article.title} />
        <meta property="cozy:url" content={article.url} />
        <meta property="cozy:description" content={article.description} />
        <meta property="cozy:image" content={article.image} />
        <meta property="cozy:source" content={article.source} />
        <meta property="cozy:author" content={article.author} />
        <meta property="cozy:published" content={article.published} />
      ) : (
        <meta property="og:title" content={appTitle} />
        <meta property="og:url" content={Astro.url.href} />
        <meta property="og:description" content="Remove distractions. Save your favorites. Get useful insights. Cozy is your modern-day reading assistant." />
        <meta name="description" content="Remove distractions. Save your favorites. Get useful insights. Cozy is your modern-day reading assistant." />
        <meta itemprop="description" content="Remove distractions. Save your favorites. Get useful insights. Cozy is your modern-day reading assistant." />
      )
    }
  </head>
  <body>
    <div id="app-wrapper">
      <slot />

      <div id="main-content">
        {
          article?.url !== '/' &&
          <div id="sidebar-wrapper">
            <slot name="sidebar" />
          </div>
        }

        <div>
          <div id="post-wrapper">
            <slot name="post" />
          </div>
          <div id="library-wrapper">
            <slot name="library" />
          </div>
        </div>
      </div>
      <slot name="footer">
    </div>
  </body>
</html>

<style lang="scss">

  #app-wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0.5rem;
    padding-bottom: 2rem;

  }
  #main-content {
    display: flex;
    flex-direction: row-reverse;

    :not(#sidebar-wrapper) {
      flex: 2;
    }
    #sidebar-wrapper {
      flex:1
    }
  
    #sidebar-wrapper,
    #post-wrapper {
      margin: 1rem auto 0;
      padding: 0 1rem;
      max-width: 650px;
    }
  }

  @media (max-width: 600px) {
    #main-content {
      flex-direction: column;

      #sidebar-wrapper,
      #post-wrapper {
        flex: 1;
      }
    }
  }
</style>
<style is:global lang="scss">
  :root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  html * {
    font-family: var(--system-ui);
  }


</style>
